.main-content,
header {
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

body {
  overflow-y: scroll;
}

/* waves start  */
.waves {
  position: relative;
  height: 55px;
  width: 100%;
  min-height: 10px;
  max-height: 60px;
  transform: scaleY(-1);
  margin-top: -8px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* waves end */

header h1 {
  text-align: center;
  color: rgb(211, 48, 48);
  text-shadow: rgb(249, 162, 162) 2px 0 10px;
  text-transform: uppercase;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.catalog-item {
  display: block;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  width: 300px;
  min-height: 440px;
  /* align-content: center; */
  align-items: center;
  text-align: center;
  margin: 10px;
  /* height: 100%; */
  overflow: hidden;
}

.catalog-item__content {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  /* flex-wrap: nowrap; */
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
  background-color: white;
  /* box-sizing: border-box;  */
  height: calc(100% - 70px);
  transition: height 0.3s;
  position: relative;
}

.catalog-item:hover .catalog-item__content {
  height: calc(100% - 120px);
  /* transform:; */
}

.catalog-item__cover {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  margin: auto 0px 0px 0px;
}

.catalog-item__content-description {
  max-width: 230px;
  position: relative;
  bottom: 5px;
  margin: auto 0px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* padding: 0px 100px; */
}

.catalog-item__content-description > div {
  /* .catalog-item__title { */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 5px;
}

.catalog-item__category {
  color: rgb(171, 169, 169);
  text-transform: uppercase;
}

.catalog-item__btn-add {
  display: none;
}

.catalog-item:hover .catalog-item__btn-add {
  position: absolute;
  display: block;
  /* margin: auto 0px; */
  bottom: -45px;
  width: 100%;
  border: 20px;
}

.catalog-item__btn-add button {
  background-color: rgb(148, 182, 255);
  text-transform: uppercase;
  color: white;
  padding: 7px;
  border: white;
}

.catalog-item__btn-add button:hover {
  background-color: rgb(113, 158, 255);
  cursor: pointer;
}

.catalog-item__price {
  font-weight: bold;
}

.catalog-item__icons {
  position: absolute;
  opacity: 0;
  top: 20px;
  right: 20px;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.catalog-item:hover .catalog-item__icons {
  opacity: 1;
  display: flex;
  /* right: 0px; */
  flex-direction: column;
  transform: translateX(-0px);
}

.catalog-item__icons__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(230, 229, 229);
  margin: 5px;
}

.catalog-item__icons__icon:hover {
  background-color: rgb(182, 181, 181);
  cursor: pointer;
}

.catalog-item__icons__icon.icon-active {
  border: 2px dotted rgb(197, 138, 138);
  box-sizing: border-box;
}

.catalog-item__icons__icon.icon-active:hover {
  cursor: pointer;
  background-color: rgb(196, 169, 169);
}

.show-hide-text,
.favourites-text,
.comparison-text {
  position: absolute;
  left: 15px;
  font-size: 15px;
  white-space: nowrap;
  opacity: 0;
  background-color: gainsboro;
  border: 2px solid rgb(103, 103, 103);
}

.show-hide-text {
  top: 40px;
}

.favourites-text {
  top: 90px;
}

.comparison-text {
  top: 140px;
}

.catalog-item__icons__icon.show-hide:hover .show-hide-text,
.catalog-item__icons__icon.favourites:hover .favourites-text,
.catalog-item__icons__icon.comparison:hover .comparison-text {
  opacity: 1;
}

.catalog-item__raiting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  font-size: 25px;
}

.filtration {
}

.filtration__radio-filters,
.filtration__check-filters__filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  accent-color: red;
}

.filtration__radio-filters > div,
.filtration__check-filters__filters > div {
  cursor: pointer;
}

.filtration__check-filters__filter > label {
  cursor: pointer;
}

.filtration__radio-filter {
  margin-left: 15px;
  border: 4px ridge rgb(234, 123, 123);
  padding: 2px;
}

.filtration__radio-filter:hover {
  background-color: rgb(245, 239, 239);
}

.filtration__radio-filter.filtration__radio-filter_selected {
  background-color: rgb(255, 230, 230);
}

.filtration__radio-filter.filtration__radio-filter_selected {
  background-color: rgb(249, 207, 207);
}

.catalog-item.hidden,
.catalog-item.filter-hidden {
  display: none;
}

.catalog-item.transparent {
  opacity: 0.5;
}

/* stars start */
[data-star] {
  text-align: left;
  font-style: normal;
  display: inline-block;
  position: relative;
  unicode-bidi: bidi-override;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

[data-star]::before {
  display: block;
  content: "★★★★★";
  color: #eee;
}

[data-star]::after {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  width: 0;
  color: #ff4d00;
  overflow: hidden;
  height: 100%;
}

[data-star^="0.1"]::after {
  width: 2%;
}
[data-star^="0.2"]::after {
  width: 4%;
}
[data-star^="0.3"]::after {
  width: 6%;
}
[data-star^="0.4"]::after {
  width: 8%;
}
[data-star^="0.5"]::after {
  width: 10%;
}
[data-star^="0.6"]::after {
  width: 12%;
}
[data-star^="0.7"]::after {
  width: 14%;
}
[data-star^="0.8"]::after {
  width: 16%;
}
[data-star^="0.9"]::after {
  width: 18%;
}
[data-star^="1"]::after {
  width: 20%;
}
[data-star^="1.1"]::after {
  width: 22%;
}
[data-star^="1.2"]::after {
  width: 24%;
}
[data-star^="1.3"]::after {
  width: 26%;
}
[data-star^="1.4"]::after {
  width: 28%;
}
[data-star^="1.5"]::after {
  width: 30%;
}
[data-star^="1.6"]::after {
  width: 32%;
}
[data-star^="1.7"]::after {
  width: 34%;
}
[data-star^="1.8"]::after {
  width: 36%;
}
[data-star^="1.9"]::after {
  width: 38%;
}
[data-star^="2"]::after {
  width: 40%;
}
[data-star^="2.1"]::after {
  width: 42%;
}
[data-star^="2.2"]::after {
  width: 44%;
}
[data-star^="2.3"]::after {
  width: 46%;
}
[data-star^="2.4"]::after {
  width: 48%;
}
[data-star^="2.5"]::after {
  width: 50%;
}
[data-star^="2.6"]::after {
  width: 52%;
}
[data-star^="2.7"]::after {
  width: 54%;
}
[data-star^="2.8"]::after {
  width: 56%;
}
[data-star^="2.9"]::after {
  width: 58%;
}
[data-star^="3"]::after {
  width: 60%;
}
[data-star^="3.1"]::after {
  width: 62%;
}
[data-star^="3.2"]::after {
  width: 64%;
}
[data-star^="3.3"]::after {
  width: 66%;
}
[data-star^="3.4"]::after {
  width: 68%;
}
[data-star^="3.5"]::after {
  width: 70%;
}
[data-star^="3.6"]::after {
  width: 72%;
}
[data-star^="3.7"]::after {
  width: 74%;
}
[data-star^="3.8"]::after {
  width: 76%;
}
[data-star^="3.9"]::after {
  width: 78%;
}
[data-star^="4"]::after {
  width: 80%;
}
[data-star^="4.1"]::after {
  width: 82%;
}
[data-star^="4.2"]::after {
  width: 84%;
}
[data-star^="4.3"]::after {
  width: 86%;
}
[data-star^="4.4"]::after {
  width: 88%;
}
[data-star^="4.5"]::after {
  width: 90%;
}
[data-star^="4.6"]::after {
  width: 92%;
}
[data-star^="4.7"]::after {
  width: 94%;
}
[data-star^="4.8"]::after {
  width: 96%;
}
[data-star^="4.9"]::after {
  width: 98%;
}
[data-star^="5"]::after {
  width: 100%;
}

/*stars end */
